*, body {
    font-family: 'Faustina', serif;

}
h1 {
    font-size: 5em;
}
p {
    font-size: 1.7em;
    letter-spacing: 2px;
}
/************ Nav Bar *************/
nav {
    border: none;
}
.navbar {
    border: none;
}
.navbar-default {
    background-color: rgb(238, 238, 238);
}
nav.navbar.navbar-default.navbar-fixed-top {
    margin-bottom: 0;
    height: 95px;
    -webkit-box-shadow: 0 6px 50px -10px rgba(0,0,0,0.49);
    -moz-box-shadow: 0 6px 50px -10px rgba(0,0,0,0.49);
    box-shadow: 0 6px 50px -10px rgba(0,0,0,0.49);
}
.navbar-brand {
    padding: 10px 10px;
    margin: 0 auto;
}
img.logo  {
    height: 80px !important;
}
/************ Header *************/
header.siteHeader  {
    /*margin-top: 3.6em;*/
    background: linear-gradient(rgba(0, 0, 0, .7), transparent), url("../img/cocoabar/cocoa5.jpg")  fixed  no-repeat center  #000000;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.downArrow {
 position: absolute;
    width: 100vw;
    top: 75%;
}
button img {
    height: 8em;

}
.arrowButton {
    background-color: transparent;
    border: none;
    outline:none;
}
/************ Main Menu Content *************/
.menuContent {
    height: 25em;
    background-attachment: inherit;
}
.miniHr {
    border-color: #b6b5b5;
}
h1.menuText {
    letter-spacing: 2px;
    margin-bottom: 0 !important;
}
.happyHour {
    padding: 2em 0 2em 0;
    font-size: 1.7em;
}
span.oblique {
    font-style: oblique;
}
/********** Menu **********/

/********** Map Styles**********/
#map {
    height: 65%;
}
.outerMap {
    height: 65%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/********** Misc. Styles**********/
.hrStyle {
    margin-top: 12em;
    margin-bottom: 4em;
    width: 70%;
    border-color: #B71C1C;
}
.menuHr {
    width: 20%;
}

@media (max-width: 991px) {
    .outerMap {
        margin-top: 130em;
    }
}
@media (max-width: 688px) {
    .outerMap {
        margin-top: 133em;
    }
}
@media (max-width: 673px) {
    .outerMap {
        margin-top: 135em;
    }
}
@media (max-width: 577px) {
    .outerMap {
        margin-top: 135em;
    }
}
@media (max-width: 570px) {
    .outerMap {
        margin-top: 140em;
    }
}
@media (max-width: 508px) {
    .outerMap {
        margin-top: 143em;
    }
}
@media (max-width: 492px) {
    .outerMap {
        margin-top: 145em;
    }
}
@media (max-width: 451px) {
    .outerMap {
        margin-top: 149em;
    }
}
@media (max-width: 440px) {
    .outerMap {
        margin-top: 153em;
    }
}
@media (max-width: 416px) {
    .outerMap {
        margin-top: 160em;
    }
}